<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "css/newss.css" %}">
  <title>news page</title>
</head>
<body>
  <a href="https://bdnews24.com/">news</a>




  <div class="margin">
    <div class="padding">
      <h2>ami mahedi </h2>

    </div>


  </div>

  <div class="border">

  </div>
  <div>
    <table class="table" border="2px" align="center">
      <tr>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
      </tr>
      <tr>
        <td>mahedi</td>
        <td>30</td>
        <td>male</td>
      </tr>
      <tr>
        <td>shota</td>
        <td>28</td>
        <td>female</td>
      </tr>
    </table>
  </div>
  
</body>
</html>