<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- febicon -->
    <link rel="icon" type="image/x-icon" href="{% static "img\NID.png" %}">
    <title>mahedi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_deep.css' %}" />
</head>
<body>
    <a href="http://127.0.0.1:8000/blogs/" target="_blank"><h1>{{header}}</h1></a>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Illum temporibus, nemo, inventore harum voluptatum aliquam facere autem laboriosam minus odit earum sapiente, repudiandae optio dignissimos nulla. Perferendis neque odio numquam, facere dolores minima beatae accusantium sequi saepe, 
        reprehenderit doloremque quae a nihil nesciunt pariatur.
         Distinctio aut labore aliquam deserunt fugit</p>

    <!-- <pre>
        i am mahedi hasan rasel
        i read in class 6
        i am a boy 
        i can ride bicycle 
        i can dance 
        i can sing a song 
        আমাদের ছোট নদী চলে বাকে বাকে 
        জানি না জানি না জানি না 
    </pre> -->


    <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit</b>. Exercitationem, pariatur inventore ex nostrum quasi, doloremque odio quaerat expedita facere sequi laborum rerum magni atque 
        asperiores
        voluptate dicta temporibus voluptates nemo rem, vero corporis voluptas 
        illum dolor quia. Atque velit accusantium eveniet nobis quo repudiandae officia facere,
        libero natus blanditiis, nemo quia, <ins>pariatur cumque at</ins> laudantium magnam corporis
        deleniti ipsum <mark>architecto doloremque quos ipsa! Unde est esse ipsam reprehenderit 
            tempore maiores </mark> assumenda officia culpa consectetur molestias perferendis, dolore et
        quia veniam iusto voluptatum quibusdam veritatis ad asperiores temporibus harum 
        nesciunt adipisci eum? Aut <del>laboriosam voluptates</del> deserunt tempore natus, tempora
        incidunt ducimus rem impedit, illo quidem, necessitatibus sint magnam quis. Odit,
        obcaecati repellat! Quidem pariatur <u>obcaecati ducimus porro</u> consequatur illo fugiat 
        magni quibusdam sit magnam saepe est placeat aliquam cupiditate, exercitationem 
        deserunt nostrum ea quia blanditiis illum doloribus veritatis! Sequi natus 
         <em>molestias, soluta,</em> nam culpa mollitia illo delectus doloremque 
         <strong>velit <i>accusantium</i> unde</strong>?</p>

         <p>(a+b) <sup>2</sup>= a <sup>2</sup> + 2ab +b <sup>2</sup></p>


         <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             <abbr title="hyper text markup language">HTML</abbr>
             Ea assumenda <q>ipsa quasi quibusdam atque mollitia itaque in magnam </q> 
             numquam dolorem? 
             Aliquam eius exercitationem ex quaerat sed, optio iusto expedita quos.</blockquote>

        <address>mirpur cantonment 395/2 Dhaka  </address> 

        <pre>hello bhai ki obstha </pre>

        <h2>from here i want to start new things </h2>
    <img src="{% static "img/NID.png" %}" alt="logo" />


    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>University</th>
        </tr>
        <tr>
            <td>mahedi</td>
            <td>23</td>
            <td>BUBT</td>
        </tr>
        <tr>
            <td>mahedi</td>
            <td>23</td>
            <td>BUBT</td>
        </tr>
        <tr>
            <td>mahedi</td>
            <td>23</td>
            <td>BUBT</td> 
        </tr>
    </table>
    <ul>
        <li>html</li>
        <li>css</li>
        <li>js</li>
    </ul>
    <ol type="A">
        <li>mahedi</li>
        <li>sara</li>
        <li>niha</li>
    </ol>

    <form action="">
        <input type="text" name="" id="" placeholder="enter your name "><br>
        <input type="email" name="" id="" placeholder="enter your email"><br>
        <input type="password" name="" placeholder="enter your password"><br><br>
        <input type="radio" name="gender" id="">Male <br><br>
        <input type="radio" name="gender" id="">frmale <br><br>
        <input type="radio" name="gender" id="">Other <br><br>
        
        <input type="checkbox" name="" id="">ML
        <input type="checkbox" name="" id="">DL
        <input type="checkbox" name="" id="">NLP <br><br>

        <input type="file" name="" id=""><br>
        <input type="datetime-local" name="" id="">
        <br><br><input type="submit" value="submit">
        <input type="reset" value="Reset">
    </form>


    <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>